- var pageTitle = 'Home'
doctype html
html(lang="en")
  head
    include includes/head.pug
    title UIPack:#{pageTitle}
  body
    .container
      h1 UIPack:#{pageTitle}
      include includes/nav.pug




  include includes/footer.pug