- var pageTitle = 'Width'
doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    div.container
      h1 UIPack:#{pageTitle}
      include includes/nav.pug

      div(class="bg:dark-90 wd:100 md@wd:6/12") Lorem Ipsum

      h3(class="heading heading:line my:lg")
        span(class="subtitle text:meta") Flex

      div(class="" flex="fw:wrap gap:md")

        div(class="wd:12/12 md@wd:5/12")
          div(class="card card-default pd:sm")
            p.reset Lorem Ipsum

        div(class="wd:12/12 md@wd:5/12")
          div(class="card card-default pd:sm")
            p.reset Lorem Ipsum

        div(class="wd:a")
          div(class="card card-default pd:sm")
            p.reset auto

        div(class="expand")
          div(class="card card-default pd:sm")
            p.reset expand


      hr

      //test
      .flex
        p flex
        p flex
        p flex






    include includes/footer.pug