- var pageTitle = 'Card'
doctype html
html(lang="en")
  head
    include ../includes/head.pug
  body
    div.container
      h1 UIPack:#{pageTitle}
      include ../includes/nav.pug

      div(grid="cols:3 gap:md")
        div
          div(class="card pd:sm" border="l4 solid warning")
            h3 Basic card
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et   dolore magna aliqua.

        //default
        div
          div(class="card card-default")
            .card-body
              h3 Default card
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et     dolore magna aliqua.

        div
          div(class="card card-default")
            .card-header
              h3.card-title Card (header/body/footer)

            .card-body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto eaque ipsam esse amet neque  autem vero optio labore ducimus illo maxime, nulla, odio atque beatae sint, dolor iste molestias?

            .card-footer
              button(class="btn:sm") Button

        div
          div(class="card card-default")
            figure.card-media
              img(src="scenarios/assets/3.jpg")

            div.card-footer
              h3.card-title Lorem Ipsum
              p(class="text:sm text:meta") By admin
              button(class="btn:sm") Buy


    include ../includes/footer.pug