- var pageTitle = 'Form'
doctype html
html(lang="en")
  head
    include ../includes/head.pug
  body
    div.container
      h1 UIPack:#{pageTitle}
      include ../includes/nav.pug

      div(class="container mt:8")

        div(class="" grid="cols:1 md@cols:2 gap:md")

          //one
          div.card 
            h3 Simple

            form.form
              div
                label(for="input") Input
                input(type="text" placeholder="Type text here..")
              div
                label(for="input") Input
                input(type="text" placeholder="Type text here..")
              div
                label(for="select")
                select(name="select")
                  option(value="test") Option
                  option(value="test") Option
              div
                label(for="")
                  input(type="checkbox" name="") 
                  span checkbox
              button test

          // two
          div
            div.card
              h3 field:h

              form.form
                div(class='field:h')
                  label(for="input")
                    span Input
                    p.helping Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  div
                    input(type="text" class='wd:100' placeholder="Type text here..")

                //field g
                div(class='field:g')
                  input(type="text" class='' placeholder="Type text here..")
                  input(type="text" class='' placeholder="Type text here..")

                div(class='field:g')
                  div(class='control')
                    label(for="input_g") Input grid
                    input(type="text" name="input_g" class='' placeholder="Type text here..")

                  div(class='control')
                    label(for="input_g") Input grid
                    input(type="text" name="input_g" class='' placeholder="Type text here..")

                div(class='field:h')
                  label(for="") 
                    span Label
                    p(class='helping') Lorem Ipsum
                  div
                    input(type="text" class="wd:100" placeholder="Type text here..")
                div(class='field:h')
                  label(for="") Select
                  div
                    select
                      option option
                      option option
                div(class='field:h')
                  div
                  label.checkbox
                    input(type="checkbox")
                    span Checkbox
                button(class='btn:sm') Button

          // three
          div
            div.card
              h3 field:v

              form.form
                div(class='field:v')
                  label(for="input")
                    span Input
                    p.helping Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  div
                    input(type="text" class='wd:100' placeholder="Type text here..")

                div(class='field:v')
                  label(for="") 
                    span Label
                    p(class='helping') Lorem Ipsum
                  div
                    input(type="text" class="" placeholder="Type text here..")

                div(class='field:v')
                  div
                    input(type="text" class="" placeholder="Type text here..")

                div(class='field:v')
                  div
                    select
                      option option
                      option option
                div(class='field:v')
                  div
                  label.checkbox
                    input(type="checkbox")
                    span Checkbox
                button Button














    include ../includes/footer.pug