- var pageTitle = 'Tabs'
doctype html
html(lang="en")
  head
    include ../includes/head.pug
  body
    div.container
      h1 UIPack:#{pageTitle}
      include ../includes/nav.pug

      div(class="mt:lg" grid="cols:2 gap:lg")

        div(class="card shadow:md pd:md")
          h3 Tabs

          .tabs
            ul.tab-menu
              li(class="active border:danger" tab="tab1") Tab 1
              li(tab="tab2") Tab 2

            ul.tab-cont
              li(class="active" tab="tab1")
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quaerat repellat beatae nostrum ad deserunt fugit quas, libero cumque odit veniam vel maxime, eum accusamus repudiandae cupiditate necessitatibus praesentium hic!
              li(tab="tab2")
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quaerat repellat beatae nostrum ad deserunt fugit quas, libero cumque odit veniam vel maxime, eum accusamus repudiandae cupiditate necessitatibus praesentium hic!






    include ../includes/footer.pug