- var pageTitle = 'Widget'
doctype html
html(lang="en")
  head
    include ../includes/head.pug
  body
    div.container
      h1 UIPack:#{pageTitle}
      include ../includes/nav.pug

      div(grid="cols:3 gap:md")
        div(class="widget")
          h2.widget-title Widget Title
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis impedit ad dignissimos enim laudantium nam placeat nesciunt sint vel maiores atque qui iusto, explicabo a error libero necessitatibus fugiat tempora!



    include ../includes/footer.pug