/**
* UIPack Borders
* 
*/

/* custom borders */
@each $name, $vals in $border_shapes {
  .#{$put}border\:#{$name} {
    @each $key, $val in $vals {
      #{$key}: #{$val};
    }
  }
}

/* colors */
@each $key, $val in $colors {
  .#{$put}border\:#{$key},
  [#{$put}border*="#{$key}"] {
    border-color: #{$val};
  }
}

/* styles */
$shapes: ("solid", "dashed", "dotted");
@each $shape in $shapes {
  .#{$put}border\:#{$shape},
  [#{$put}border*="#{$shape}"] {
    border-style: #{$shape};
  }
}

/* border_radius */
@each $key, $val in $border_radius {
  .#{$put}border\:#{$key},
  [#{$put}border*="#{$key}"] {
    border-radius: $val;
  }
}

/* sizes */
@for $i from 1 through 6 {
  .#{$put}border\:#{$i},
  [#{$put}border~="#{$i}"] {
    border-width: #{$i}px;
  }
}

/* edges */
$edges: (
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);

@for $i from 1 through 6 {
  @each $key, $val in $edges {
    .#{$put}border\:#{$val}#{$i},
    [#{$put}border~="#{$val}#{$i}"] {
      border-#{$key}-width: #{$i}px;
    }
  }
}
