/**
* UIPack colors
* 
*/

@each $name, $val in $colors {
  .#{$put}bg\:#{$name} {
    background-color: #{$val} !important;
  }
  .#{$put}color\:#{$name} {
    color: $val !important;
  }
  .#{$put}brd\:#{$name} {
    border-color: $val !important;
  }
}

//linears
@each $name, $val in $linears {
  .#{$put}bg\:#{$name} {
    background-image: #{$val};
  }
  .#{$put}color\:#{$name} {
    color: $val;
  }
  .#{$put}brd\:#{$name} {
    border: 1px solid transparent;
    background: linear-gradient(to right, white, white), #{$val};
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
}
