.ml\:a,
.ml\:auto {
  margin-left: auto;
}

.mr\:a,
.mr\:auto {
  margin-right: auto;
}

.mx\:a,
.mx\:auto {
  margin-right: auto;
  margin-left: auto;
}

/* margins */

$margin_list: (
  "top": "mt",
  "right": "mr",
  "left": "ml",
  "bottom": "mb",
);

@each $name, $value in $spaces {
  .mx\:#{$name} {
    margin-left: $value;
    margin-right: $value;
  }
  .my\:#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .mg\:#{$name} {
    margin: $value !important;
  }
  @each $key, $val in $margin_list {
    .#{$val}\:#{$name} {
      margin-#{$key}: $value;
    }
  }
}

/* paddings */
$paddings: (
  "top": "pt",
  "right": "pr",
  "left": "pl",
  "bottom": "pb",
);
@each $name, $value in $spaces {
  .px\:#{$name} {
    padding-left: $value;
    padding-right: $value;
  }
  .py\:#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .pd\:#{$name} {
    padding: $value !important;
  }
  @each $key, $val in $paddings {
    .#{$val}\:#{$name} {
      padding-#{$key}: $value;
    }
  }
}
