/**
* UIPack pagination
* 
*/
.pagination {
  ul {
    list-style: none;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    width: max-content;
    overflow: hidden;
    li {
      margin-right: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 2.5em;
      padding: 7px;
      &:last-child {
        margin-right: 0;
      }
      &.current {
        opacity: 0.8;
      }

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
