/* card */

.card {
  box-shadow: map-get($box-shadows, "sm");
  $padding: map-get($pd_mg_sizes, "md");
  padding: $padding;
  .card-header {
    border-bottom: 1px solid map-get($theme, "border-color");
    padding: $padding 0;
    .card-title {
      margin: 0;
    }
  }
  .card-body {
    padding: $padding 0;
  }

  .card-footer {
    padding: $padding 0;
    border-top: 1px solid map-get($theme, border-color);
    display: flow-root;
  }
}
