/* card */

.card {
  position: relative;

  &-default {
    box-shadow: map-get($shadows, "sm");
  } //default

  .card-body,
  .card-header,
  .card-footer,
  .card-title {
    padding: map-get($spaces, "md");
  }

  .card-footer,
  .card-header,
  .card-body {
    .card-title {
      padding: 0;
    }
  }

  .card-header {
    border-bottom: 1px solid map-get($theme, "border-color");
  }

  .card-footer {
    border-top: 1px solid map-get($theme, "border-color");
  }
}
