/* forms */

input:not([type="checkbox"]):not([type="radio"]),
button,
.btn,
textarea,
select {
  display: block;
  margin: 0;
  padding: 0.2rem 0.4rem;
  line-height: none;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid;
  border-color: map-get($theme, border-color);
  border-radius: 1px;
  &:focus {
    outline: none;
    border-color: hsl(172deg, 32%, 71%);
  }
}
.btn,
button {
  line-height: inherit;
  background: none;
  text-align: center;
}

button,
input {
  overflow: visible;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


textarea {
  min-height: 70px;
}

/* checkbox */
.checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
input[type="checkbox"],
input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
}

/* buttons */
.#{$put}btn {
  padding: 0.5rem 1rem;
  &\:sm {
    padding: 0.25rem 0.5rem;
  }
  &\:md {
    padding: 0.5rem 0.75rem;
  }
  &\:lg {
    padding: 0.75rem 1rem;
  }
}

/* form */
form.#{$put}form {
  label .#{$put}helping {
    color: #aaa;
    font-size: 92%;
    margin: 0;
  }
  .#{$put}field\:h {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    & > * {
      flex: 1;
    }
    & > *:nth-child(1) {
      width: 200px;
      flex: unset;
    }
  }

  /* v */
  .#{$put}field\:v {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
  }
}
