/**
* UIPack grid
* 
*/

// percentage( x / x) convert to px
.#{$put}grid,
[#{$put}grid] {
  display: grid;
  grid-gap: map-get($spaces, sm);
}

/* grid gap */
@each $name, $size in $spaces {
  [#{$put}grid~="gap:#{$name}"] {
    grid-gap: $size;
  }
}


@for $i from 1 through 12 {
  [#{$put}grid~="cols:#{$i}"] {
    $size: percentage($i / 100) * 0.1;
    grid-template-columns: repeat(#{$i}, minmax($size, 1fr));
  }
}


@each $key, $val in $screen_sizes {
  @media screen and(min-width: #{$val}) {
    @for $i from 1 through 12 {
      [#{$put}grid~="#{$key}@cols:#{$i}"] {
        $size: percentage($i / 100) * 0.1;
        grid-template-columns: repeat(#{$i}, minmax($size, 1fr));
      }
    }

    @each $name, $size in $spaces {
      [#{$put}grid~="#{$key}@gap:#{$name}"] {
        grid-gap: $size;
      }
    }
  }
}
