/* grid */
// percentage( x / x) convert to px
.grid,
[grid] {
  display: grid;
  grid-gap: map-get($spaces, sm);
}

/* grid gap */
@each $name, $size in $spaces {
  [grid~="gap:#{$name}"] {
    grid-gap: $size;
  }
}


@for $i from 1 through 12 {
  [grid~="cols:#{$i}"] {
    $size: percentage($i / 100) * 0.1;
    grid-template-columns: repeat(#{$i}, minmax($size, 1fr));
  }
}


@each $key, $val in $screen_sizes {
  @media screen and(min-width: #{$val}) {
    @for $i from 1 through 12 {
      [grid~="#{$key}@cols:#{$i}"] {
        $size: percentage($i / 100) * 0.1;
        grid-template-columns: repeat(#{$i}, minmax($size, 1fr));
      }
    }

    @each $name, $size in $spaces {
      [grid~="#{$key}@gap:#{$name}"] {
        grid-gap: $size;
      }
    }
  }
}
