//heading

[class*="#{$put}heading:"],
[#{$put}heading],
.#{$put}heading {
  //default
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  overflow: hidden;

  .#{$put}subtitle {
    font-size: map-get($theme, "font-size");
    font-weight: normal;
  }
}

//sizes
@each $key, $val in $heading_sizes {
  .#{$put}heading\:#{$key},
  [#{$put}heading*="#{$key}"] {
    font-size: $val;
  }
}

//divider
.#{$put}heading\:divider,
[#{$put}heading*="divider"] {
  border-bottom: 1px solid map-get($theme, "border-color");
}

//line
.#{$put}heading\:line,
[#{$put}heading*="line"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  row-gap: 0.5rem;
  .concrete {
    margin: 0 0.5rem;
  }
  &::before,
  &::after {
    content: "";
    border-bottom: 1px solid;
    border-color: map-get($theme, "border-color");
  }
  &::before {
    content: none;
  }
  &::after {
    content: "";
    flex: auto;
  }
}

//center
.#{$put}heading\:center,
[#{$put}heading*="center"] {
  &::before,
  &::after {
    content: "";
    flex: 1;
  }
}
