//heading

[class*="heading:"],
[heading],
.heading {
  //default
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  overflow: hidden;

  .subtitle {
    font-size: map-get($theme, "font-size");
    font-weight: normal;
  }
}

//sizes
@each $key, $val in $heading_sizes {
  .heading\:#{$key},
  [heading*="#{$key}"] {
    font-size: $val;
  }
}

//divider
.heading\:divider,
[heading*="divider"] {
  border-bottom: 1px solid map-get($theme, "border-color");
}

//line
.heading\:line,
[heading*="line"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  row-gap: 0.5rem;
  .concrete {
    margin: 0 0.5rem;
  }
  &::before,
  &::after {
    content: "";
    border-bottom: 1px solid;
    border-color: map-get($theme, "border-color");
  }
  &::before {
    content: none;
  }
  &::after {
    content: "";
    flex: auto;
  }
}

//center
.heading\:center,
[heading*="center"] {
  &::before,
  &::after {
    content: "";
    flex: 1;
  }
}
