/* components/navbar */
$navbarItemMr: map-get($navbar, item-margin);
.#{$put}navbar {
  display: flex;
  a {
    @include transition;
  }
  a:hover {
    @include link-hover();
  }

  .#{$put}app-title {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 120%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.#{$put}navbar-item {
  display: flex;
  align-items: center;
  margin-right: $navbarItemMr;
  > p {
    margin: 0;
    padding: 0;
  }
  &:last-child {
    margin-right: unset;
  }
}

.#{$put}navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    margin-right: $navbarItemMr;
    &:last-child {
      margin-right: unset;
    }
    &.#{$put}parent {
      .#{$put}trigger {
        cursor: pointer;
      }
      .#{$put}sub {
        box-shadow: map-get($shadows, "sm");
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        width: 200px;
        position: absolute;
        background-color: white;
        right: 0;
        top: 1.5rem;
        padding: 1rem;
        z-index: 100;
        ul li {
          margin-bottom: 0.3rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &.#{$put}active {
          visibility: visible;
          top: 2rem;
          opacity: 1;
          transition-delay: 0s;
        }
      }
    }
  }
}
