/* components/navbar */
$navbarItemMr: map-get($navbar, item-margin);
.#{$put}navbar {
  display: flex;
  a {
    @include transition;
  }
  a:hover {
    @include link-hover();
  }

  .#{$put}navbar-item {
    display: flex;
    align-items: center;
    margin-right: $navbarItemMr;
    &:last-child {
      margin-right: unset;
    }
  }

  .#{$put}navbar-brand {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 115%;
    line-height: 1;
  }

  .#{$put}navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      margin-right: $navbarItemMr;
      &:last-child {
        margin-right: unset;
      }
    }
  }
}

