/**
* UIPack text styles
*
*/
.#{$put}text {
  //sizes
  @each $key, $val in $text_sizes {
    &\:#{$key} {
      font-size: $val;
    }
  }
  &\:meta {
    color: map-get($colors, "secondary");
  }
  &\:uppercase {
    text-transform: uppercase;
  }
  &\:lowercase {
    text-transform: lowercase;
  }
  &\:capitalize {
    text-transform: capitalize;
  }
  &\:italic {
    font-style: italic;
  }
  &\:bold {
    font-weight: bold;
  }
  &\:center {
    text-align: center;
  }
  &\:left {
    text-align: left;
  }
  &\:right {
    text-align: right;
  }
  &\:lth {
    text-decoration: line-through;
  }
}

/* weigths */
@each $weight in (100, 200, 300, 400, 500, 600, 700) {
  .text\:#{$weight} {
    font-weight: #{$weight} !important;
  }
}
