/**
* UIPack text styles
*
*/
.text {
  font-size: map-get($theme, "font-size");
  //sizes
  @each $key, $val in $text_sizes {
    &\:#{$key} {
      font-size: $val;
    }
  }
  &\:meta {
    color: map-get($colors, "secondary");
  }
  &\:uppercase {
    text-transform: uppercase;
  }
  &\:lowercase {
    text-transform: lowercase;
  }
  &\:capitalize {
    text-transform: capitalize;
  }
  &\:italic {
    font-style: italic;
  }
  &\:bold {
    font-weight: bold;
  }
  &\:center {
    text-align: center;
  }
  &\:left {
    text-align: left;
  }
  &\:right {
    text-align: right;
  }
}
