/* ws width */
.#{$put}wd\:auto,
.#{$put}wd\:a {
  width: auto;
  max-width: auto;
}
.#{$put}wd\:100 {
  width: 100%;
  max-width: 100%;
}
.#{$put}wd\:max {
  width: max-content;
}
.#{$put}hg\:100 {
  height: 100%;
}

@include width();
@include res-width();
