/**
* UIPack width
* 
*/

.#{$put}wd\:auto,
.#{$put}wd\:a {
  width: auto;
  max-width: auto;
}
.#{$put}wd\:100 {
  width: 100%;
  max-width: 100%;
}
.#{$put}wd\:max {
  width: max-content;
}
.#{$put}wd\:min {
  width: min-content;
}
.#{$put}wd\:vw {
  width: 100vw;
}
.#{$put}wd\:full {
  width: 100%;
}

/* height */
.#{$put}hg\:100 {
  height: 100%;
}
.#{$put}hg\:vh {
  height: 100vh;
}

@include width();
@include res-width();
