<%- include('partials/header', {title: 'Buttons' , desc:'UIPack Buttons'}) %>
  <!--main-->
  <main class="docs_main expand">
    <div class="docs_main--inner">
      <p class="text:meta text:sm text:under mb:md"><a
          href="https://github.com/sivankanat/uipack/blob/main/docs/src/ejs/buttons.ejs" target="_blank"
          rel="noopener noreferrer">Edit on github</a>
      </p>

      <article class="docs-article">

        <section class="docs-section" id="overview">
          <h2><a href="#overview">#</a>Buttons</h2>
          <p>..</p>

          <div class="examp" data-options='{"active": "preview", "lang":"markup"}'>
            <!-- code .. -->
            <button class="btn">Button</button>
            <button class="btn btn:sm">btn:sm</button>
          </div>
        </section>


      </article>
    </div>
  </main>
  <!-- main end -->

  <%- include('partials/footer') %>