<%- include('partials/header', {title: 'Starter' , desc:'Starter page'}) %>

  <!--main-->
  <!--main-->
  <main class="docs_main expand">
    <div class="docs_main--inner">
      <h2>Installation </h2>
      <code>npm i uipack --save</code>
    </div>
  </main>
  <!-- main end -->

  <%- include('partials/footer') %>