<%- include('partials/header', {title: 'Navbar' , desc:'UIPack navbar component'}) %>

  <!--main-->
  <main class="docs_main expand">
    <div class="docs_main--inner">
      <p class="text:meta text:sm text:under mb:md"><a
          href="https://github.com/sivankanat/uipack/blob/main/docs/src/ejs/navbar.ejs" target="_blank"
          rel="noopener noreferrer">Edit on github</a>
      </p>

      <article class="docs-article">

        <section class="docs-section" id="overview">
          <h2><a href="#overview">#</a>Navbar</h2>
          <p>Navbar module</p>


          <!-- examp -->
          <div class="examp" data-options='{"active": "preview", "lang":"markup"}'>

            <nav class="navbar bg:muted pd:md">
              <a href="#" class="navbar-brand">Brand</a>

              <div class="navbar-item">
                Navbar Item
              </div>
            </nav>


          </div>
          <!-- examp end -->

        </section>

      </article>
    </div>
  </main>
  <!-- main end -->

  <%- include('partials/footer') %>