<%- include('partials/header', {title: 'Starter' , desc:'UIPack starter'}) %>
  <!--main-->
  <main class="docs_main expand">
    <div class="docs_main--inner">
      <p class="text:meta text:sm text:under mb:md"><a
          href="https://github.com/sivankanat/uipack/blob/main/docs/ejs/pages/starter.ejs" target="_blank"
          rel="noopener noreferrer">Edit on github</a>
      </p>

      <article class="docs-article">

        <section class="docs-section" id="overview">
          <h2><a href="#overview">#</a>Starter</h2>
          <p>Starter page</p>

          <div class="examp" data-options='{"active": "preview", "lang":"markup"}'>
            <!-- code .. -->
          </div>
        </section>


      </article>
    </div>
  </main>
  <!-- main end -->

  <%- include('partials/footer') %>