<%- include('partials/header', {title: 'Text' , desc:'UIPack Text'}) %>
  <!--main-->
  <main class="docs_main expand">
    <div class="docs_main--inner">
      <p class="text:meta text:sm text:under mb:md"><a
          href="https://github.com/sivankanat/uipack/tree/main/docs/ejs/pages/typography.ejs" target="_blank"
          rel="noopener noreferrer">Edit on github</a>
      </p>
      <article class="docs-article">

        <!-- article section -->
        <section class="docs-section" id="Text">
          <h2 class=""><a href="#Text">#</a>Text</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium necessitatibus ex ipsa et itaque
            quisquam dolorum at ipsam! Fuga commodi expedita harum cupiditate labore dolorum quo similique qui unde
            aliquid.</p>

          <table class="table table-boxed wd:6/12">
            <thead>
              <tr>
                <th>class</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>text:sm</code></td>
                <td>
                  <p class="reset text:sm">Text small</p>
                </td>
              </tr>
              <tr>
                <td><code>text:md</code></td>
                <td>
                  <p class="reset text:md">Text Medium</p>
                </td>
              </tr>
              <tr>
                <td><code>text:lg</code></td>
                <td>
                  <p class="reset text:lg">Text Large</p>
                </td>
              </tr>
              <tr>
                <td><code>text:xl</code></td>
                <td>
                  <p class="reset text:xl">Text XLarge</p>
                </td>
              </tr>
            </tbody>
          </table>


        </section>


      </article>
    </div>
  </main>
  <!-- main end -->

  <%- include('partials/footer') %>