</div>
<!-- content end -->

<!--app footer-->
<footer class="docs-footer" role="contentinfo">
  <div class="container">
    <div class="docs-footer--inner text:meta py:sm">
      <p class="reset text:center">© 2021 UIPack</p>
    </div>
  </div>
</footer>

</div>
<!-- app end -->

<!-- assets-->
<script src="js/docs.js"> </script>
</body>

</html>