/* base */
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: map-get($theme, "font");
  font-size: map-get($theme, "font-size");
  color: var(--color-font);
  line-height: map-get($theme, "line-height");
  text-size-adjust: 100%;
  font-display: swap;
}

/* link */
a {
  text-decoration: none;
  color: var(--color-link);
}
.pointer {
  cursor: pointer;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1;
  margin-bottom: 0.7rem;
  font-weight: 600;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.1rem;
}
h5,
h6 {
  font-size: 1rem;
}

/* text */
p {
  margin: 0;
  padding-bottom: 0.5rem;
}

blockquote {
  margin: 0.7rem auto;
  padding: 0.3rem 0.5rem;
  border-left: 2px solid rgb(173, 173, 173);
  opacity: 0.6;
}
code {
  background: hsl(220, 5%, 95% / 1);
  font-size: inherit;
  font-family: monospace;
  line-height: inherit;
  padding: 0.1rem 0.3rem;
  display: inline-block;
}

details {
  padding: 1rem;
  background: hsl(220, 5%, 95% / 1);
  margin: 1rem 0;
  > * {
    padding-top: 0.5rem;
  }
  summary {
    padding-top: 0;
    cursor: pointer;
  }
}

/* list */

::marker {
  color: hsl(224, 5%, 40% / 1);
}

/* form */
button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
:focus {
  outline: none;
}

/* media */
figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* other */
.#{$put}container {
  width: 100%;
  max-width: $container_max;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  &\:full {
    max-width: 100%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

.relative {
  position: relative;
}

::selection {
  @each $key, $val in $selection {
    #{$key}: #{$val};
  }
}
