/**
* UIPack Base
* 
*/
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  @media (max-width: map-get($screens, "sm")) {
    font-size: 80%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: map-get($theme, "font");
  font-size: map-get($theme, "font-size");
  color: var(--color-font);
  line-height: map-get($theme, "line-height");
  font-display: swap;
}

/* link */
a {
  text-decoration: none;
  color: var(--color-link);
}
.pointer {
  cursor: pointer;
}



/* form */
button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
:focus {
  outline: none;
}

/* media */
figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* other */
.#{$put}container {
  width: 100%;
  max-width: $container_max;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  &\:full {
    max-width: 100%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    width: 100%;
  }
}

::selection {
  @each $key, $val in $selection {
    #{$key}: #{$val};
  }
}

.block {
  display: block;
}

// clear
.clear:before,
.clear:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after {
  clear: both;
}

//spacer
.spacer {
  display: inline-block;
  width: 100%;
  &\:sm {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &\:md {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &\:lg {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  &\:xl {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
