@import url(../../node_modules/prismjs/themes/prism.css);
.app-sidebar {
  padding: 2rem 1.1rem;
  border-right: 1px solid var(--border-color); }
  .app-sidebar ul.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0.75rem;
    border-left: 1px solid var(--border-color); }
    .app-sidebar ul.sidebar-menu li a {
      display: block;
      padding: 0.4rem 0; }

/* main */
main.app-main {
  padding: 1rem 1.5rem; }

/* example scenario */
.uipack-scenario {
  position: relative;
  /* tab */
  /* list */ }
  .uipack-scenario .scenario-tab {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-right: 1px solid var(--border-color);
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-text-orientation: mixed;
            text-orientation: mixed; }
    .uipack-scenario .scenario-tab span {
      -webkit-writing-mode: tb-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: tb-rl;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      cursor: pointer;
      padding: 1rem 0;
      margin-right: -1px;
      color: #c9cbd2; }
      .uipack-scenario .scenario-tab span.active {
        border-left: 1px solid orange; }
  .uipack-scenario .scenario-list {
    padding: 0.1rem 1.5rem; }
    .uipack-scenario .scenario-list > * {
      display: none; }
      .uipack-scenario .scenario-list > *.active {
        display: block; }
