<div class="docs_sidebar show">
  <div class="docs_sidebar--inner">
    <nav class="sidebar-nav" role="navigation">
      <ul class="reset">
        <li class="overview">
          <span class="icon:duo __label">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z">
              </path>
            </svg>
            <span class="last">Overview</span>
          </span>
          <ul class="child"></ul>
        </li>
        <!--components-->
        <li class="base">
          <span class="icon:duo __label">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M16 0H8C6.9 0 6 .9 6 2V18C6 19.1 6.9 20 8 20H20C21.1 20 22 19.1 22 18V6L16 0M20 18H8V2H15V7H20V18M4 4V22H20V24H4C2.9 24 2 23.1 2 22V4H4M10 10V12H18V10H10M10 14V16H15V14H10Z">
              </path>
            </svg><span class="last">Base</span>
          </span>
          <ul class="child"></ul>
        </li>
        <!--components-->
        <li class="components">
          <span class="icon:duo __label">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M16 0H8C6.9 0 6 .9 6 2V18C6 19.1 6.9 20 8 20H20C21.1 20 22 19.1 22 18V6L16 0M20 18H8V2H15V7H20V18M4 4V22H20V24H4C2.9 24 2 23.1 2 22V4H4M10 10V12H18V10H10M10 14V16H15V14H10Z">
              </path>
            </svg><span class="last">Components</span>
          </span>
          <ul class="child"></ul>
        </li>

        <!--elements-->
        <li class="elements">
          <span class="icon:duo __label">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M16 0H8C6.9 0 6 .9 6 2V18C6 19.1 6.9 20 8 20H20C21.1 20 22 19.1 22 18V6L16 0M20 18H8V2H15V7H20V18M4 4V22H20V24H4C2.9 24 2 23.1 2 22V4H4M10 10V12H18V10H10M10 14V16H15V14H10Z">
              </path>
            </svg><span class="last">Elements</span>
          </span>
          <ul class="child"></ul>
        </li>

        <!-- helpers -->
        <li class="helpers">
          <span class="icon:duo __label">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M16 0H8C6.9 0 6 .9 6 2V18C6 19.1 6.9 20 8 20H20C21.1 20 22 19.1 22 18V6L16 0M20 18H8V2H15V7H20V18M4 4V22H20V24H4C2.9 24 2 23.1 2 22V4H4M10 10V12H18V10H10M10 14V16H15V14H10Z">
              </path>
            </svg><span class="last">Helpers</span>
          </span>
          <ul class="child"></ul>
        </li>
        <!-- utils -->
        <li class="utils">
          <span class="icon:duo __label">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M16 0H8C6.9 0 6 .9 6 2V18C6 19.1 6.9 20 8 20H20C21.1 20 22 19.1 22 18V6L16 0M20 18H8V2H15V7H20V18M4 4V22H20V24H4C2.9 24 2 23.1 2 22V4H4M10 10V12H18V10H10M10 14V16H15V14H10Z">
              </path>
            </svg><span class="last">Utils</span>
          </span>
          <ul class="child"></ul>
        </li>
      </ul>
    </nav>
  </div>
</div>