<%- include('../parts/header', {title: 'Starter' , desc:'Starter page'}) %>

  <!--main-->
  <main class="docs-main">
    <div class="docs-main--inner">
      <h2>Installation </h2>
      <code>npm i uipack --save</code>
    </div>
  </main>
  <!-- main end -->

  <%- include('../parts/footer') %>