<%- include('../parts/header', {title: 'Navbar' , desc:'UIPack navbar component'}) %>

  <!--main-->
  <main class="docs-main">
    <div class="docs-main--inner">
      <p class="text:meta text:sm text:under mb:md"><a
          href="https://github.com/sivankanat/uipack/blob/main/docs/ejs/pages/navbar.ejs" target="_blank"
          rel="noopener noreferrer">Edit on github</a>
      </p>

      <article class="docs-article">

        <section class="docs-section" id="overview">
          <h2><a href="#overview">#</a>Navbar</h2>
          <p>Navbar test</p>

          <div class="examp" data-options='{"active": "preview", "lang":"markup"}'>
            <nav class="navbar bg:muted pd:md" role="navigation">
              <!-- navbar brand -->
              <a href="#" rel="home" class="navbar-brand">Brand</a>
              <!-- navbar item -->
              <div class="navbar-item">
                <a href="#">Navbar Item</a>
              </div>
              <!-- navbar down -->
              <div class="navbar-down">
                <span class="icon-duo pointer">Navbar Down
                  <svg style="width:24px;" class="text:meta" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                  </svg>
                </span>
                <div class="down">
                  <ul class="reset down-inner">
                    <li><a href="#">Down Item</a></li>
                    <li><a href="#">Down Item</a></li>
                    <li><a href="#">Down Item</a></li>
                  </ul>
                </div>
              </div>
              <!-- navbar menu -->
              <div class="relative ml:a">
                <a href="#" class="navbar-bars md@hidden" aria-label="Toggle Menu" data-target="navbar-menu">
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                  </svg>
                </a>
                <ul class="navbar-menu hidden md@visible">
                  <li><a href="#">Menu Item</a></li>
                  <li><a href="#">Menu Item</a></li>
                  <li class="parent"><span class="icon-duo pointer">Parent
                      <svg style="width:24px;" class="text:meta" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                      </svg>
                    </span>
                    <div class="sub">
                      <ul class="sub-inner">
                        <li><a href="#">Sub Item</a></li>
                        <li><a href="#">Sub Item</a></li>
                        <li><a href="#">Sub Item</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </section>

      </article>
    </div>
  </main>
  <!-- main end -->

  <%- include('../parts/footer') %>