<%- include('../parts/header', {title: 'Starter' , desc:'Starter page'}) %>

  <!--main-->
  <main class="docs-main">
    <div class="docs-main--inner">
      <h2>Starter</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita, natus, reiciendis, dignissimos enim
        officiis molestias architecto saepe repellat hic necessitatibus illum at blanditiis. Quasi repellendus
        molestiae
        quaerat quas rerum!</p>
    </div>
  </main>

  <%- include('../parts/footer') %>

  
  