block Before
doctype html
html(lang="en")
  block Head
    include head.pug
  body
    //app header
    include header.pug

    //app content
    block Content
      div(class='app-content' flex='fw:wrap')

        //app sidebar
        block Sidebar
          include sidebar.pug

        //app main
        block Main
         
    //app footer
    block Footer
      include footer.pug
