nav(class='navbar mb:md')
  -var items = ['index', 'test', 'card', 'navbar', 'grid', 'form', 'tab', 'separator', 'text', 'width', 'heading', 'widget']
  each item in items
    a(href=item+'.html' class="tag")=item