div(class='app-sidebar wd:1/5')
  p(class='title text:uppercase text:sm text:meta') List
  ul(class='sidebar-menu')
    li <a href='index.html'>Home</a>
    li <a href='text.html'>Text</a>
    li <a href='#'>Null</a>

