nav(class='navbar mb:md')
  -var items = ['home', 'test', 'card', 'navbar', 'grid', 'form', 'tab', 'separator', 'text', 'width', 'heading']
  each item in items
    a(href=item+'.pug' class="tag")=item